.navbar {
  border-bottom: 2px solid #fd5f06;
}
.navbar-nav > li {
  padding-left: 10px;
  padding-right: 10px;
}

.navbar-brand {
  font-size: xx-large;
  font-weight: bolder;
  letter-spacing: 3pt;
}
.navbar-brand span {
  all: initial;
  display: block;
  color: #fb7c45;
  font-size: large;
}
.row {
  margin: 0px 15px;
}
.DownloadBtn > i,
.FAQBtn > i {
  vertical-align: middle;
}
.dropdown {
  border-radius: 5px;
}

.utilityButtons {
  margin: 25px;
}

.stat-cards {
  margin: 15px 0px;
  border: none;
  border-radius: 5px;
}

.stat-cards .card-title {
  font-size: larger;
}

.chart-card {
  margin: 15px;
}
#chartdiv {
  width: 100%;
  height: 550px;
}
#bar-chartdiv {
  width: 100%;
  height: 450px;
}
.menu {
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}
.map-chart {
  background-color: #cedeeb;
}
.active-card {
  background-color: #fff3e5;
}
.death-card {
  background-color: #f6f6f6;
}
.confirmed-card {
  background-color: #ffe9eb;
}
.recovered-card {
  background-color: #eaf6e8;
}
.active-card h2,
.active-card i,
.active-card span,
.active-tab {
  color: #fe8a00;
}
.death-card h2,
.death-card i,
.death-card span,
.death-tab {
  color: #aaaaaa;
}
.confirmed-card h2,
.confirmed-card i,
.confirmed-card span,
.confirmed-tab {
  color: #ff2e2d;
}
.recovered-card h2,
.recovered-card i,
.recovered-card span,
.recovered-tab {
  color: #46b332;
}
footer {
  border-top: 2px solid #fd5f06;
  text-align: center;
}
.barChartNav .nav-link{
  color: black; 
  border-radius: 0;
}
.toggle-on.btn-sm {
  padding-right: 10px;
}
.toggle-off.btn-sm {
  padding-left: 15px;
}
.barChartNav .nav-link.active, .mapChartNav .nav-link.active{
  background-color: transparent;
  color:#f45f25 ;
  border-bottom: 2px solid #fd5f06;
}

@media (min-width: 769px) and (max-width: 1024px){ 
  .menu{
      flex-direction: column !important;
  }
 }
 